*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BARRA DI NAVIGAZIONE */
header{
  background-color: #141414;
  height: 70px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
}

header img{
  height: 60px;
  margin-top: 5px;
  margin-left: 50px;
}

header > div{
  margin-right: 50px;
  height: 100%;
}

header input, header button{
  height: 30px;
  margin-top: 20px;
  background-color: darkgray;
  border: none;
  border-radius: 2px;
  outline: none;
}

header input{
  padding-left: 10px;
}

header button{
  width: 100px;
  font-weight: bold;
}

/* CORPO DELLA PAGINA */
body{
  background-color: darkgray;
  font-family: 'Poppins', sans-serif;
}

main{
  padding-top: 50px;
}

.container{
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
}

.card{
  height: 450px;
  width: 300px;
  margin: 20px;
}

.card > div{
  background-color: #141414;
  color: white;
  display: none;
  height: 450px;
  font-size: 13px;
  padding: 15px;
  border: 1px solid white;
  text-align: justify;
}

.card > div > p > img{
  vertical-align: middle;
  margin-left: 5px;
}

.card > div > p:last-child{
  display: -webkit-box;
  -webkit-line-clamp: 15;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.card:hover > img{
  display: none;
}

.card:hover > div{
  display: block;
}
